/* Comments.css */
.main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column; /* Input and button below each other */
    align-items: center; /* Center align input and button */
    margin-bottom: 20px;
  }
  
  .inp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 80%; /* Make the input field larger */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Add some space between input and button */
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; /* Make the button take full width */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .section {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .comment_div {
    border: 1px solid #ccc; /* Add border to each comment */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow to each comment */
  }
  
  p {
    margin: 0;
  }
  
  span {
    font-weight: bold;
  }
  