.starLayout{
    display:flex;
    width: 50vw;
    height: 20vw;
    gap:0.5vw;
    align-items: center;
    justify-content: center;
    z-index: 20pz;
    
}

.layout2{
    display:flex;
    z-index: 0px;
    flex-direction: column;
    width: 60%;
    height: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    align-items: center;
    gap: 0.5vw;
    justify-content: center;
}


.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    background: blanchedalmond;
    width: 10vw;
    height: 4vw;
    border-radius:2px ;
}